.container__header {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0066ff;
  overflow: hidden;
}

.img__header {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.h1__header {
  padding: 20px;

  width: 50%;

  font-size: 3rem;
  text-align: center;

  color: white;
}
